body {
	background: #FAF5E6;

}
.jumbotron {
  background: #B8A05A;
margin-right: 0;
margin-left: 0;
}

.main-head {
	background: #B8A05A;

}

/** Projects **/
.card {
	padding: 10px;
}
.screenshot {
     background: #434a52;
     box-shadow: 0 0 50px 10px rgba(0, 0, 0, .8); 
     width: 90%;
     height: 300px;
}
.screenshot:hover {
      transform: scale(1.1);
}

.personal-img {
      background:  #B8A05A;
     box-shadow: 0 0 50px 10px rgba(0, 0, 0, .8); 
    }


/*** Contact **/
.contact-box {
  text-align: left;
  padding-left: 50px;
}
.contact-info {
   color: #B8A05A;
}

.comments {
    padding: 30px;
}

.about-card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 6px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, .8); 
}
.about-card:hover {
  border-color: #B8A05A;
}

.skills li {
  border-radius: 6px;
  background: #B8A05A;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #4863A0;
}


/***Footer**/

footer .row {
    max-width: 100%;
}

footer .copy {
    margin-top: 5%;
}

footer .column {
  padding: 5px;
}
footer .icon {
    height: 50px;
    width: 50px;
    background-color: rgba(125, 136, 146, .3);
    border-radius: 50%;
}
footer p {
    color: rgb(125, 136, 146);
    font-family: "Ubuntu";
    font-size: 1.25rem;
    font-weight: 300;
    padding-top: 0.5rem;
}


@media (min-width: 321px) {

      .card {
        padding: 30px;
      }
    .screenshot {
      width: 300px;
      height: 300px;
    }
     .comments-section {
      margin-bottom: 150px;
     }
   
}



